#main.container{margin-top: 42px;background-color:white;padding: 20px;}
#dashboard{ padding: 20px;}
#dashboard a{color:black;}
#dashboard a:hover{text-decoration:none;}

#actions .btn{margin: 0px 5px;}

#tree{font-size: .9em;margin: 0px;}
#tree .nav{padding-right: 0px;}

.icon{margin-bottom: 40px;}
.icon a{position:relative;}
.icon-8x {font-size: 8em;}

.left{float:left;}

.icon-8x.icon-border {border-radius: 15px;border-width: 8px;}

.table tr td form{margin: 0px;}

#login{
	margin: 100px auto;
}

fieldset{padding-top : 40px;}
legend{width: 95%;}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }